@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600&display=swap");

:root {
  --background: #2c3333;
  --primary: #60a6d9;
  --mercury: #e6e9ed;
  --venus: #ffce54;
  --earth: #366db6;
  --mars: #f04528;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: #fff;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
}

header.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 1.5rem;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

header.navbar-container .nav-logo {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 700;
}

header.navbar-container .nav-logo span {
  color: var(--primary);
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a.mercury {
  background-color: var(--mercury);
  color: var(--background);
}
header.navbar-container .nav-list li:hover a.venus {
  background-color: var(--venus);
  color: var(--background);
}
header.navbar-container .nav-list li:hover a.earth {
  background-color: var(--earth);
}
header.navbar-container .nav-list li:hover a.mars {
  background-color: var(--mars);
}

#hamburger-menu {
  display: none;
}

#close {
  display: none;
}

.navbar-fixed {
  background-color: var(--background);
  transition: 0.3s linear;
}

/* Main */

main {
  padding: 2rem 4rem;
  flex: 1;
  display: flex;
  gap: 4rem;
}

.planet {
  display: flex;
  align-items: center;
  flex: 1;
  margin-bottom: 5rem;
  padding-top: 7rem;
}

#mercury .content-image img,
#earth .content-image img {
  margin-left: auto;
}

#venus .content-image img,
#mars .content-image img {
  margin: auto;
}

#venus .content-description,
#mars .content-description {
  order: 2;
}

#venus .content-image,
#mars .content-image {
  order: 1;
}

.content-description {
  flex: 1 1;
  text-align: justify;
  font-weight: 500;
}

.content-description .title {
  font-size: 5rem;
  margin-bottom: 2rem;
}

#mercury .content-description .title {
  color: #e6e9ed;
}

#venus .content-description .title {
  color: #ffce54;
}

#earth .content-description .title {
  color: #366db6;
}

#mars .content-description .title {
  color: #f04528;
}

.content-description p {
  line-height: 2;
}

.content-image {
  display: flex;
  flex: 1;
}

.content-image img {
  min-width: 250px;
  width: 300px;
  animation: spin 10s linear infinite;
}

/* Sidebar */

main aside {
  max-width: 600px;
  width: 100%;
  padding-top: 7rem;
}

main aside .sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 33, 36, 0.5);
  align-items: center;
  justify-content: center;
  padding: 2rem;
  row-gap: 1.5rem;
  border-radius: 5%;
  box-shadow: 10px 10px 5px #202124;
  position: fixed;
  top: 30;
  right: 30;
}

main aside .sidebar img {
  width: 6rem;
  border: 2px solid white;
  border-radius: 50%;
}

main aside .sidebar h2 {
  text-align: center;
}

main aside .sidebar p {
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

main aside .sidebar .sosmed {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

main aside .sidebar .sosmed a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
}

/* Footer */

footer {
  background-color: #202124;
  padding-block: 2rem;
  text-align: center;
}

footer .author {
  font-weight: 500;
}

/* Animation */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive Breakpoints */

@media (max-width: 900px) {
  header.navbar-container .nav-list ul {
    flex-direction: column;
    background-color: #202124;
    padding-block: 2rem;
    padding-inline-start: 0.5rem;
    border-radius: 5px 0 0 5px;
    width: 45%;
    position: absolute;
    top: 0;
    right: -100%;
    transition: 0.3s ease-in-out;
    text-align: center;
  }

  header.navbar-container .nav-list ul.active {
    right: 0;
  }

  #hamburger-menu {
    display: block;
  }

  #close {
    display: block;
    padding-inline: 2rem;
    text-align: center;
  }

  main {
    flex-wrap: wrap;
    justify-content: center;
  }

  .planet {
    flex-direction: column;
    row-gap: 5rem;
  }

  .content-description .title {
    font-size: 3rem;
  }

  .content-description p {
    font-size: 1rem;
  }

  .content-image {
    order: -1;
  }

  .content-image img {
    margin: auto;
    width: 200px;
  }

  main aside {
    width: 300px;
    order: -1;
  }

  main aside .sidebar {
    position: static;
  }
}
